@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Quicksand&display=swap');

body {
    background-color: #8e8e8e;
    margin: 0 18em;
}

#banner-area {
	background: url("images/hero-image.jpg");
}



nav {
	display: inline-block;
	float: right;
}

h1, h2, h3, p, ul {
    color: #ffffff;
}

#slogan {
	font-style: italic;
}

a {
	color: #ff9521;
	text-decoration: none;
}

p, ul {
	font-family: 'Quicksand', sans-serif;
	line-height: 1.5em;
}

h1, h2, h3 {
	font-family: 'Arvo', serif;
	text-transform: uppercase;
}

#daily-menu {
	margin: 4em 20em;
}

#classics {
    border: 1px black solid;
    padding: 10px;
    margin: 0 2em 0 0;
    float: left;
}

#main-menu {
    border: 1px black solid;
    padding: 10px;
    float: left;
}

#order {
	text-align: center;
	margin: 7em;
	background-color: black;
	padding: 2em;
}

#social-media {
    float: left;
}

#newsletter {
    border: 1px black solid;
    float: left;
}

.clearfix:after {
    display: block;
    content: " ";
    clear: both;
    height: 0;
}